.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin);*/
  font-size: 40pt;
  color: white;
  margin-bottom: 0;
}

.App{
  background-color: lightsteelblue;
}

.App-logo {
  margin-top: 13px;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Form {
  font-size: 15pt;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.instructions{
  font-size: 13pt;
  padding-top: 0;
}

.Results {
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}

label {
  line-height: 26px;
  width: 800px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.searchQuery {
  width: 325px;
  height: 25px;
  border-radius: 20px;
  padding: 0px 7px 0px;
  font-size: 10pt;
  margin-bottom: 3px;
}

select {
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.resultSelection {
  font-size: 13pt;
  margin-top: 3px;
}

.resultTypeLabel {
  display: inline;
  margin-left: 10px;
  margin-right: 8px;
}

.submitButton{
  width: 100px;
  height: 200px;
  font-size: 18pt;
  margin-bottom: 10px;
  margin-top: 8px;
}

.pageBreak {
  padding-left: 0%;
  padding-right: 0%;
}

.resultsTitle {
  font-size: 15pt;
}

.resultsNumber {
  margin-bottom: 2px;
}

table {
  border-spacing: 10px;
}

ul {
  margin: 0;
}

.field {
  font-size: 14pt;
}